<div id="pagewidth">
        <div id="banner-home">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
			        <td align="center" valign="middle" height="46" width="100" ><span class="serviceHeader"><a href="#home">TIMS</a></span>
                    <br/><span class="serviceHeaderSite"></span></td>
			        <td align="right">&nbsp;</td>
			    </tr>
			</table>
		</div>
       <div id="loginStatusNone"></div>   
        <div id="twocols" class="clearfix">
        	<div id="search-results-list">{{surname}}, {{forenames}} {{middle_name}}<br/>
        		ID: {{_id}}
        		<p>List of records follows. Also, notice that Arrest Docket is on the left nav strip.<br/>
        			Note that this patient's record id is in the link to that form and is used to associate records for the patient.
        		</p>
        		<ul id="records"></ul>
        		</div>
        </div>
        <div id="sidebar-a-print">
            <div id="sidenavcontainer">
                <ul id="navlist">
                <li><a href="#home" border="0">TIMS</a></li>
                <li>&nbsp;</li>
                <li><a href="#newPatient">New Client</a></li>
                <li>&nbsp;</li>
                <li><a href="#arrestDocket/{{_id}}">Arrest Docket</a></li>
                <li>&nbsp;</li>
                <li><a href="#config">Configuration</a></li> 
                </ul>
            </div>
        </div>
    </div>